<div class="row">
  <div class="col"></div>
  <div class="col-8">
    <div class="row">
      <div class="col s12 m6">
        <div class="card brown lighten-5">
          <div class="card-content">
            <!-- form starts here -->
            <form class="col s12 ">
              <div class="row white-text">
                <div class="input-field col s12">
                  <input
                    value="<%= record.environmentName %>"
                    id="name"
                    type="text"
                    class="validate"
                  />
                  <label for="env_name">Environment Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input
                    value="<%= record.environmentCreator %>"
                    id="creator"
                    type="text"
                    class="validate"
                  />
                  <label for="creator">Environment Creator</label>
                </div>
              </div>
              <!-- Environment Options stats here -->
              <div class="row main-form">
                <div class="col s12 m6">
                  <div class="card brown lighten-4">
                    <div class="card-content white-text">
                      <span class="card-title">Environment Options</span>
                      <div class="row">
                        <div class="input-field col s6">
                          <input
                            value="<%= record.environmentOptions.panorama %>"
                            id="panorama"
                            type="text"
                            class="validate"
                          />
                          <label for="panorama">Panorama</label>
                        </div>
                      </div>
                      <div class="row pano-hide">
                        <div class="input-field col s6">
                          <input
                            value="<%= record.environmentOptions.preset %>"
                            id="preset"
                            type="text"
                            class="validate"
                          />
                          <label for="preset">preset</label>
                        </div>
                      </div>
                      <div class="row pano-hide">
                        <!-- Select objects -->
                        <label>Select a preset</label>
                        <select id="preset_select" class="preset browser-default ">
                          <option value="" disabled selected>
                            Choose your option
                          </option>
                          <option value="none">none</option>
                          <option value="default">default</option>
                          <option value="contact">contact</option>
                          <option value="egypt">egypt</option>
                          <option value="checkerboard">checkerboard</option>
                          <option value="forest">Forest</option>
                          <option value="goaland">goaland</option>
                          <option value="yavapai">yavapai</option>
                          <option value="goldmine">goldmine</option>
                          <option value="threetowers">threetowers</option>
                          <option value="poison">poison</option>
                          <option value="arches">arches</option>
                          <option value="tron">tron</option>
                          <option value="japan">japan</option>
                          <option value="dream">dream</option>
                          <option value="volcano">volcano</option>
                          <option value="osiris">starry</option>
                          <option value="forest">osiris</option>
                          <option value="moon">moon</option>
                          
                        </select>
                      </div>
                      <div class="row ">
                        <div class="input-field col s6">
                          <input
                            value="<%= record.environmentOptions.video %>"
                            id="video"
                            type="text"
                            class="validate"
                          />
                          <label for="video">video</label>
                        </div>
                      </div>
                      <div class="row">
                        <!-- Select objects -->
                        <label>Select Object</label>
                        <select id="video_select" class="browser-default models">
                          <option value="" disabled selected>
                            Choose your option
                          </option>
                        </select>
                      </div>
                      <!-- Floor Assets starts here -->
                      <div class="row pano-hide">
                        <div class="col s12 m6">
                          <div class="card brown lighten-3">
                            <div class="card-content white-text">
                              <span class="card-title">Sky Assets</span>
                              <div class="row">
                                <div class=" col s6">
                                  <input
                                    value="<%= record.environmentOptions.skyAsset.color %>"
                                    id="skyColor"
                                    type="color"
                                    class="validate"
                                  />
                                  <label for="skyColor">sky color</label>
                                </div>
                              </div>
                              <div class="row ">
                                <div class="input-field col s6">
                                  <input
                                    value="<%= record.environmentOptions.skyAsset.url %>"
                                    id="skyUrl"
                                    type="text"
                                    class="validate"
                                  />
                                  <label for="skyUrl">sky url</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Floor Assets ends here -->
                      <!-- Sky Assets starts here  -->
                      <div class="row pano-hide">
                        <div class="col s12 m6">
                          <div class="card brown lighten-3">
                            <div class="card-content white-text">
                              <span class="card-title">Floor Assets</span>
                              <div class="row">
                                <div class=" col s6">
                                  <input
                                    value="<%= record.environmentOptions.floorAsset.color %>"
                                    id="floorColor"
                                    type="color"
                                    class="validate"
                                  />
                                  <label for="floorColor">floor color</label>
                                </div>
                              </div>
                              <div class="row remove">
                                <div class="input-field col s6">
                                  <input
                                    value="<%= record.environmentOptions.floorAsset.url %>"
                                    id="floorUrl"
                                    type="text"
                                    class="validate"
                                  />
                                  <label for="floorUrl">floor url</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Sky Assets ends here  -->
                      <div class="d-flex justify-content-center">
                        <a id="" class="btn waves-effect waves-light upd_env"
                          >Update Environment Details</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Environment Options ends here -->

              <% record._vrObject.forEach(object=>{ %>
              <div class="row">
                <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title"><%= object.name %></span>
                      <div class="row">
                        <div class="input-field col s6">
                          <input
                            value="<%= object.name %>"
                            id="obj_name<%= object._id %>"
                            type="text"
                            class="validate"
                          />
                          <label for="<%= object.name %>">name</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._position[0] %>"
                              id="obj_position_x<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_position_x<%= object._id %>"
                              >position x</label
                            >
                          </div>
                        </div>

                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._position[1] %>"
                              id="obj_position_y<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_position_y<%= object._id %>"
                              >position y</label
                            >
                          </div>
                        </div>
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._position[2] %>"
                              id="obj_position_z<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_position_z<%= object._id %>"
                              >position z</label
                            >
                          </div>
                        </div>

                        <!-- <div class="input-field col s6">
                                        <input value="<%= object.position %>" id="obj_position<%= object._id %>" type="text" class="validate">
                                        <label for="obj_position">position</label>
                                      </div> -->
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._scale[0] %>"
                              id="obj_scale_x<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_scale<%= object._id %>"
                              >scale x</label
                            >
                          </div>
                        </div>
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._scale[1] %>"
                              id="obj_scale_y<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_scale<%= object._id %>"
                              >scale y</label
                            >
                          </div>
                        </div>
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._scale[2] %>"
                              id="obj_scale_z<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_scale<%= object._id %>"
                              >scale z</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._rotation[0] %>"
                              id="obj_rotation_x<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_rotation_x<%= object._id %>"
                              >rotation x</label
                            >
                          </div>
                        </div>
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._rotation[1] %>"
                              id="obj_rotation_y<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_rotation_y<%= object._id %>"
                              >rotation y</label
                            >
                          </div>
                        </div>
                        <div class="col">
                          <div class="input-field col s6">
                            <input
                              value="<%= object._rotation[2] %>"
                              id="obj_rotation_z<%= object._id %>"
                              type="text"
                              class="validate"
                            />
                            <label for="obj_rotation_z<%= object._id %>"
                              >rotation z</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s6">
                          <input
                            value="<%= object.url %>"
                            id="obj_url<%= object._id %>"
                            type="text"
                            class="validate"
                          />
                          <label for="obj_url<%= object._id %>">url</label>
                        </div>
                      </div>
                      <div class="row">
                        <!-- Select objects -->
                        <label>Select Object</label>
                        <select id="" class="browser-default models update">
                          <option value="" disabled selected>
                            Choose your option
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="card-action">
                      <a
                        id="<%= object._id %>"
                        class="waves-effect waves-light btn update"
                        >update</a
                      >
                      <a
                        id="<%= object._id %>"
                        class="waves-effect waves-light btn delete"
                        >delete</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              <% } )%>
              <div class="card-action d-flex justify-content-center">
                <div class="d-flex justify-content-start col-5">
                  <a
                    class="waves-effect waves-light btn modal-trigger"
                    href="#modal1"
                    >Add Object to environment</a
                  >
                  <div class="col-2"></div>
                </div>
                <div class="col-5 d-flex justify-content-end">
                  <a
                    class="waves-effect waves-light btn modal-trigger"
                    href="#modal2"
                    >Upload 3D Object</a
                  >
                </div>
              </div>
            </form>

            <!-- form ends here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Add new 3D object</h4>
  </div>
  <div class="row">
    <div class="row">
      <div class="col s12 m6">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title"></span>
            <div class="row">
              <div class="input-field col s6">
                <input id="obj_name" type="text" class="validate" />
                <label for="obj_name">name</label>
              </div>
            </div>
            <!-- Positions -->
            <div class="row">
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_position_x" type="text" class="validate" />
                  <label for="obj_position_x">position x</label>
                </div>
              </div>
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_position_y" type="text" class="validate" />
                  <label for="obj_position_y">position y</label>
                </div>
              </div>
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_position_z" type="text" class="validate" />
                  <label for="obj_position_z">position z</label>
                </div>
              </div>
              <!-- Scale -->
            </div>
            <div class="row">
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_scale_x" type="text" class="validate" />
                  <label for="obj_scale_x">scale x</label>
                </div>
              </div>
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_scale_y" type="text" class="validate" />
                  <label for="obj_scale_y">scale y</label>
                </div>
              </div>
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_scale_z" type="text" class="validate" />
                  <label for="obj_scale_z">scale z</label>
                </div>
              </div>
            </div>
            <!-- Rotation -->
            <div class="row">
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_rotation_x" type="text" class="validate" />
                  <label for="obj_rotation_x">rotation x</label>
                </div>
              </div>
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_rotation_y" type="text" class="validate" />
                  <label for="obj_rotation_y">rotation y</label>
                </div>
              </div>
              <div class="col">
                <div class="input-field col s6">
                  <input id="obj_rotation_z" type="text" class="validate" />
                  <label for="obj_rotation_z">rotation z</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="obj_url" type="text" class="validate" />
                <label for="obj_url">url</label>
              </div>
            </div>
            <div class="row">
              <!-- Select objects -->
              <label>Select Object</label>
              <select id="3dobj_select" class="browser-default models upload">
                <option value="" disabled selected>Choose your option</option>
              </select>
            </div>
            <!-- upload 3dObjects to the object list -->
            <!-- <div class="row">
              <div class="col s12 m6">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input id="file" type="file" name="uploadFile" required />
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" />
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <a id="file_upload" class="btn waves-effect waves-light file"
                  >Submit S3 Bucket</a
                >
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="card-action">
      <a id="<%= record._id %>" class="waves-effect waves-light btn add-obj"
        >upload</a
      >
    </div>
  </div>
</div>
<!-- Modal Structure to upload 3dmodels-->
<div id="modal2" class="modal" style="max-height: 25%">
  <div class="modal-content" style="height: 100%">
    <div class="row">
      <h4>Modal Header</h4>
    </div>

    <div class="row">
      <div class="col s12 m6">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input id="file" type="file" name="uploadFile" required />
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" />
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <a id="file_upload" class="btn waves-effect waves-light file"
          >Submit S3 Bucket</a
        >
      </div>
    </div>
  </div>
</div>
